.eventsControls {
  padding-bottom: 30px;
  justify-content: space-evenly;
}

.eventsControls > span {
  border-bottom: 3px solid #ccc;
  transition: all .25s ease;
  cursor: pointer;
  display: inline-block;
}
.eventsControls > span:first-child {
  margin-left: 0px;
}
.eventsControls > span.active {
  border-bottom: 3px solid #5d5c19;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  margin-left: 10px;
}