.flexbox {
  display: flex;
}

body {
  box-sizing: border-box;
}

input[type="submit"] {
  margin: auto;
  display: inline-block;
  background: #5d5c19;
	color: inherit;
  border: none;
  border-radius: 8px;
	padding: 8px 40px;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  color: white;
  font-size: 0.95em;
  transition: background .25s ease;
  margin-top: 40px;
  margin-bottom: 20px;
}

input[type="submit"]:hover {
  background: #706f1b;
}

.dashboard-formula {
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  padding: 10px 40px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.dashboard-formula-header {
  text-align: center;
  margin-top: 40px;
}

.dashboard-formula form {
  padding-top: 10px;
}

.clear-button {
  margin: auto;
  display: inline-block;
  background: #d8391d;
	color: inherit;
  border: none;
  border-radius: 8px;
	padding: 8px 40px;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  color: white;
  font-size: 0.95em;
  transition: background .25s ease;
  margin-top: 10px;
  margin-bottom: 20px;
}

.clear-button:hover {
  background: #f34627;
}

.formula-image {
  max-width: 25em;
}